.navbar{
    border-radius: 0;
    margin-bottom: 0;
    a{
       color: set-text-color($main-color) !important;
    }
}

#showcase {
    height: 600px;
    background: url('../img/showcase.jpg') no-repeat 0 -100px;
    h1{
        font-size: 60px;
    } 
    .container {
        background: #fff;
        opacity: 0.8;
        padding: 30px 20px;
    }
    a{
        background: $main-color;
        color: set-text-color($main-color) !important;
    }
}

#section-a {
    padding: 30px 0;
    background: $main-color;
    text-align: center;
    color: set-text-color($main-color) !important;
}


#section-b {
    background: #e6ebf1;
    padding: 60px 0;
    img {
        width: 100%;
    }
}

.panel-heading{
    color: set-text-color($main-color) !important;
}

#section-c {
    background-color: $main-color;
    text-align: center;
    text-transform: capitalize;
    color: set-text-color($main-color) !important;
    padding: 50px 0;

    button{
        background: darken($main-color, 10%);
    }
}

#footer {
    background: darken($main-color, 7%);
    padding: 20px 0;
    color: set-text-color($main-color) !important;
}